.button-container {
    height: 83px;
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.button-container:hover{
    background-color:#5a01a7;
}

.operator {
    background-color: #00471b;
}

.operator:hover {
    background-color: #ff6600;
}